<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>

<% if @rooms.present? %>
  <nav class="nav flex-column">
    
    <ul class="list-group">
        <% @rooms.each do |room| %>
            <a href="<%= room_path(room) %>" class="text-decoration-none text-center"><li class="list-group-item list-group-item-action"><%= room.name %></li></a>
        <% end %>
    </ul>
  </nav>
<% else %>
  <div class="text-muted">
    The are no rooms
  </div>
<% end %>