<div class="row m-3 my-5">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>
  

  <div class="col">
    <div class="">

      <p>
        Let's talk with us
      </p>

    </div>
  </div>
</div>